/* override the default styles and set margin and padding to nothing and 
box-sizing to border-box*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* set text to white throughout the document*/
body{
    font-family: Arial, sans-serif;
    color: white;
}
/* Make all links text black with no text decoration*/
a{
    color: black;
    text-decoration: none;
}
h1{
    font-size: 30px;

font-weight: 600;
margin: 10px 0;
line-height: 1.2;
}
h2{
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}
p{
    font-size: 30px;
    /* All images not larger than the parent container*/
}
img{
    width: 100%;
}
li{
    list-style: none;
}
p{
    font-size: 20px;
    margin: 10px 0;
}
/* Overflow set in order for elements to flow past the container and 
content set to maximum width
*/
.container{
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}
.navbar{
    background: purple;
    height: 70px;
    padding: 0 30px;
}
.navbar h1{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: white;
    padding: 9px;
    margin: 0 10px;
}
.navbar a:hover{
    color: #9867c5;
    border-bottom: 3px solid #9867C5;
}
/*Showcase area*/
.showcase{
    height: 300px;
    background: purple;
}
/* adding margin below the text*/
.showcase p{
    margin-bottom: 30px;
}
/* Adding showdow below the image*/
.showcase img{
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
/* Adding padding on the form content*/
.showcase-form{
    padding-left: 7px;
    margin: auto;
}
/* Create two sections(columns) on the showcase container using Grid*/
.grid{
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}
.grid-item-1, 
.grid-item-2{
    position: relative;
    top: 50px;
}
.showcase input[type="email"]{
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px
}
.showcase .btn{
    border-radius: 6px;
    padding: 12px 20px;
    background: #9867c5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.little-info{
    font-family: monospace;
    font-size: 15px;
}

.lower-container{
    margin: 120px auto;
    padding: 0;
    max-width: 1400px;
}
.title{
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
.text{
    color: black;
    font-size: 19px;
    width: 100%;
    padding-top: 10px;
    margin: 0,20px;
    text-align: justify;
}
/* Display horizontally*/
.flex{
    display: flex;
    justify-content: space-around;
}
.stats{
    padding: 45px 50px ;
    text-align: center;
}
.stat{
    margin: 0 30px;
    text-align: center;
    width: 800px;
}
.stats .fa{
    color: purple;
}

.testimonial{
    color: black;
    padding: 40px;
}
/* image wraped inside a cirlce shape and height set to take up all the parent element*/
.testimonial img{
    height: 100%;
    clip-path: circle();
}
.testimonial h3{
    text-align: center;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
/* White card with shadow around it*/
.card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}
.circle{
    background-color: transparent;
    border: 3px solid purple;
    height: 90px;
    position: relative;
    top: -30px;
    left: 120px;
    border-radius: 50%;
    -moz-boder-radius: 50%;
    -webkit-border-radius:50%;
    width: 90px;
}

footer{
    background:purple;
    padding: 20px 10px ;
}
/* All links white*/
footer a{
    color: white;
    margin: 0 10px
}
footer a:hover {
    color: #9867C5;
    border-bottom: 2px solid #9867C5;
  }
  @media screen and (max-width: 768px){
    .grid,
    .grid-3{
      grid-template-columns: 1fr;
    }
    .showcase{
        height: auto;
        text-align: center;
    }
    .image {
        width: 600px;
        margin-left: 80px;
      }
      .stats .flex {
        flex-direction: column;
      }
    
      .stats {
        text-align: center;
      }
      .stat {
        width: 100%;
        padding-right: 80px;
      }
      /* Moves the cirle to the center of the card */
      .circle {
        background-color: transparent;
        border:3px solid purple;
        height:90px;
        position: relative;
        top: -30px;
        left: 270px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:90px;
    }
  
  }
  /* Mobile devices */
@media screen and (max-width: 500px) {
    .navbar {
      height: 100px;
    }
    /* Changes the alignment. The logo title stays at the top, the nav links will be below it */
.navbar .flex {
    flex-direction: column;
  }
  /* On hover border-bottom becomes black */
  .navbar a:hover {
    color: white;
    border-bottom: 2px solid black;
  }
/* Light purple background and nav links*/
  .navbar ul {
    background: #9867C5;
    border-radius: 5px;
    padding: 10px 0;
  }
/* Align text to center */

.showcase {
    height: auto;
    text-align: center;
  }


/* Reduce font size */

.little-info {
    font-size: 13px;
  }
  /* Reduce image width */

  .image {
    width: 350px;
    margin-left: 70px;
  }

  .stat {
    margin-bottom: 40px;
  }


/* Move circle once again */

.circle {
      background-color: transparent;
      border:3px solid purple;
      height:90px;
      position: relative;
      top: -30px;
      left: 150px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:90px;
  }
}
}
