@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
    background-position: cover;
    background-repeat: no-repeat
}
.body-text{
    position:absolute;
    top: 20px;
    left: 10px;
    margin-top: 20px; 
    margin-bottom: 20px;
    color: #000;
    word-spacing: 5px;
    letter-spacing: 3px;
    padding: 25px;
    font-family: Roboto;
}
.body-text p{
    margin-top: 60px;
    font-size: 16px;
    font-family: inherit;
    word-spacing: 3px;
    float: left;
    line-height: 1.5;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    overflow: hidden;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%
}
.nav-links li{
    list-style: none;
}
nav .icon{
    color:#fff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    width: 50px;
}
.heading{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
.heading h4{
    text-align: center;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 16px;
    text-transform:uppercase;
}
.nav-links li a:hover:not(.active){
    background-color: rgb(156, 216, 213);
}
.nav-links li a.active{
    background-color: rgb(220, 243, 242);
}
.form-container{
    position: absolute;
    top: 80px;
    left: 760px;
    background-color: #fff;
    margin: auto;
    width: 280px;
    padding: 16px;
    box-shadow: 2px 2px 2px 1px;
    border-radius: 10px;
}
.form-container h2{
    text-align: center;
    color: rgb(53, 226, 226);
    font-size: 18px;
    background:whitesmoke;
    border-radius: 10px;
    margin: 0px;
    padding: 5px;
}
input[type="text"],
input[type="password"],
input[type=email],
input[type=cpassword]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background-color: whitesmoke;
    text-align: 3px;
    color: rgb(114, 192, 211);

}
input[type="text"]:focus,
input[type="password"]:focus,
input[type=email]:focus,
input[type=cpassword]:focus{
    background-color: wheat;
    outline: none;
}
::placeholder{
    color: #fff;
    font-weight: bold;
}
#register{
    background-color: teal;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    opacity: 0.8;
}
#register:hover{
    opacity: 1;
}

.login-form h2{
    width: 150px;
    text-align: center;
    color: teal;
    font-size: 18px;
    background:whitesmoke;
    border-radius: 10px;
    margin: 0px;
    padding: 5px;

}
#btn{
    background-color: teal;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 20px;
    opacity: 0.8;
}
#btn:hover{
    opacity: 1;
}
.link{
    font-family: inherit;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
}
.link a{
    text-decoration: none;
    color: teal;
}
.footer{
    position: absolute;
    top: 670px;
    background-color: teal;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: Arial;
    color: #000;
}
/*@media screen and (max-width: 600px){
nav .icon{
    display: block;
}
nav ul{
   
    width: 100%;
    height: 100vh;
    
    text-align: center;
}
nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }*/